{% extends "base.html" %}

{% block extra_css %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% endblock extra_css %}

{% block title %}polls{% endblock title %}

{% block page_content %}

<h1>You're at the polls index.</h1>
    
{% if latest_question_list %}
  <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock page_content %}

